.content {
  display: grid;
  grid-template-columns: 240px 1fr;

  height: calc(100vh - 48px);
  max-height: calc(100vh - 48px);
}

.sidebar {
  @apply p-4 overflow-auto bg-surface-action-subtle h-full;
}

.pageBlock {
  @apply p-4 overflow-auto;
}
